order.asl.json
{
    "Comment": "order processing",
    "StartAt": "check inventory",
    "States": {
      "check inventory": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:us-east-1:**********:function:checkInventory:$LATEST"
        },
        "Next": "items available?"
      },
      "items available?": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.item.num_of_items",
            "NumericGreaterThanPath": "$.inventory.num_of_items",
            "Next": "cancel order"
          }
        ],
        "Default": "Parallel"
      },
      "Parallel": {
        "Type": "Parallel",
        "Branches": [
          {
            "StartAt": "mark order as complete",
            "States": {
              "mark order as complete": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke",
                "OutputPath": "$.Payload",
                "Parameters": {
                  "Payload.$": "$",
                  "FunctionName": "arn:aws:lambda:us-east-1:**********:function:updateOrder:$LATEST"
                },
                "End": true
              }
            }
          },
          {
            "StartAt": "update inventory",
            "States": {
              "update inventory": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke",
                "OutputPath": "$.Payload",
                "Parameters": {
                  "Payload.$": "$",
                  "FunctionName": "arn:aws:lambda:us-east-1:**********:function:updateInventory:$LATEST"
                },
                "End": true
              }
            }
          }
        ],
        "Next": "Success"
      },
      "Success": {
        "Type": "Succeed"
      },
      "cancel order": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "arn:aws:lambda:us-east-1:**********:function:updateOrder:$LATEST"
        },
        "Next": "Fail"
      },
      "Fail": {
        "Type": "Fail"
      }
    }
  }