warehouse_state_machine.asl.json
{
  "Comment": "Amazon state language definition",
  "StartAt": "InitState",
  "States": {
    "InitState": {
      "Type": "Pass",
      "Next": "ConsumeSqsMessage"
    },
    "ConsumeSqsMessage": {
      "Type": "Map",
      "ItemsPath": "$",
      "Iterator": {
        "StartAt": "ConvertStringToJson",
        "States": {
          "ConvertStringToJson": {
            "Type": "Pass",
            "Parameters": {
              "Result.$": "States.StringToJson($.body)"
            },
            "ResultPath": "$.data",
            "Next": "GenerateId"
          },
          "GenerateId": {
            "Type": "Pass",
            "Parameters": {
              "id.$": "States.UUID()"
            },
            "ResultPath": "$.key",
            "Next": "SaveItem"
          },
          "SaveItem": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Parameters": {
              "TableName": "InventoryUpdates",
              "Item": {
                "PK": {
                  "S": "WAREHOUSE"
                },
                "SK": {
                  "S.$": "States.Format('WAREHOUSE#{}', $.key.id)"
                },
                "warehouseName": {
                  "S.$": "$.data.Result.warehouseName"
                },
                "warehouseDescription": {
                  "S.$": "$.data.Result.warehouseDescription"
                },
                "id": {
                  "S.$": "$.key.id"
                }
              }
            },
            "End": true
          }
        }
      },
      "End": true
    }
  }
}